body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem; */
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  opacity: 0.6;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
nav ul{
  display: flex;
  justify-content: space-between;
}
nav li{
  padding-top: 0.5rem;
  padding-right: 2rem;
}
nav ul a{
  font-size: 1.6rem;
  color: white;
}
nav ul{
  list-style: none;
}
nav a:hover{
  text-decoration: none;
  color: white;
}
.wrapper{
  padding-left: 1rem;
  margin-top: 3rem;
  height: 70vh;
}
.box{
  background-image: url(assets/Profile.png);
  -webkit-background-sizing:cover;
  background-position: center center;
  height: 490px;
  width: 500px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  } 50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  } 100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
#intro{
  overflow-x: hidden;
  padding-top: 12rem;
  padding-left: 0;
  padding-right: 0;
}
#intro h1{
  font-size: 4rem;
  font-family: "Teko",sans-serif;
}